.search input {
    border: 1px solid #fa5252;
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.search button {
    padding: 0.5rem 0.8rem;
    background-color: #fa5252;
    color: white;
    outline: none;
    border: 1px solid #fa5252;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

.search button:hover {
    background-color: #fa5252da;
}
