.ratingBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    background-color: #fcefb1;
    border-radius: 0.4rem;
    width: fit-content;
    margin: 0 auto;
}

.starBox {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.ratingBox > span {
    font-size: 1.3rem;
    padding-bottom: 0.2rem;
}
