.movie {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #fa525297;
    border-radius: 0.4rem;
    position: relative;
}

.movie button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #fa5252;
    font-size: 0.8rem;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
}

.movie button:hover {
    transform: scale(1.1);
}

.movie .imageBox img {
    width: 4rem;
    border-radius: 0.3rem;
}

.movie .detailsBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    width: 100%;
}

.movie .detailsBox > div {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 80%;
}

.movie .detailsBox > div > span {
    display: flex;
    gap: 0.5rem;
}

.movie .detailsBox p {
    display: inline-block;
}
